/* hamburger Animation */
.menu-opened > .menu-btn span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-opened > .menu-btn span:nth-child(2) {
  transform: translateX(100px);
}
.menu-opened > .menu-btn span:last-child {
  transform: rotate(315deg) translate(7px, -7px);
}
/* hero section heading */
@keyframes gradient-text-wave {
  0% {
    background: linear-gradient(
      to left,
      var(--soft-blue) 0%,
      var(--whitesmoke) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: linear-gradient(
      to left,
      var(--soft-blue) 20%,
      var(--whitesmoke) 80%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: linear-gradient(
      to left,
      var(--soft-blue) 40%,
      var(--whitesmoke) 60%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: linear-gradient(
      to left,
      var(--soft-blue) 60%,
      var(--whitesmoke) 40%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: linear-gradient(
      to left,
      var(--soft-blue) 80%,
      var(--whitesmoke) 20%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(
      to left,
      var(--soft-blue) 100%,
      var(--whitesmoke) 0%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
