@keyframes gradient {
  0% {
    background-image: radial-gradient(
        at 0% 0%,
        hsla(204, 48%, 45%, 0.64) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 100% 2%,
        hsla(217, 91%, 31%, 0.74) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 82% 99%,
        hsla(213, 100%, 50%, 0.41) 0px,
        transparent 50%
      );
  }
  20% {
    background-image: radial-gradient(
        at 0% 0%,
        hsla(217, 91%, 31%, 0.74) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 100% 2%,
        hsla(204, 48%, 45%, 0.64) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 82% 99%,
        hsla(213, 100%, 50%, 0.41) 0px,
        transparent 50%
      );
  }
  40% {
    background-image: radial-gradient(
        at 0% 0%,
        hsla(204, 48%, 45%, 0.64) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 100% 2%,
        hsla(213, 100%, 50%, 0.41) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 82% 99%,
        hsla(217, 91%, 31%, 0.74) 0px,
        transparent 50%
      );
  }
  60% {
    background-image: radial-gradient(
        at 0% 0%,
        hsla(204, 48%, 45%, 0.64) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 100% 2%,
        hsla(217, 91%, 31%, 0.74) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 82% 99%,
        hsla(213, 100%, 50%, 0.41) 0px,
        transparent 50%
      );
  }
  80% {
    background-image: radial-gradient(
        at 0% 0%,
        hsla(204, 48%, 45%, 0.64) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 100% 2%,
        hsla(213, 100%, 50%, 0.41) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 82% 99%,
        hsla(217, 91%, 31%, 0.74) 0px,
        transparent 50%
      );
  }
  100% {
    background-image: radial-gradient(
        at 0% 0%,
        hsla(204, 48%, 45%, 0.64) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 100% 2%,
        hsla(217, 91%, 31%, 0.74) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 82% 99%,
        hsla(213, 100%, 50%, 0.41) 0px,
        transparent 50%
      );
  }
}
